// htftbug
.htftbug{
	background-image: url(/mediafiles/ht_ftscore.png);
	background-repeat: no-repeat;

	
		
}

h2#hometeam{
		font-size: 1.4 em;
		float: left;
		position: absolute;
		top: 935 px;
		left: 248 px;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		text-align: center;
		font-family: 'Tusker Grotesk 7700 Bold';
}

h2#awayteam{
		font-size: 1.4 em;
		float: left;
		position: absolute;
		top: 965 px;
		left: 570 px;
		vertical-align: middle
		text-align: center;
		margin: 0;
		transform: translate(-50%, -50%);
		font-family: 'Tusker Grotesk 7700 Bold';
}
h2#homescore{
		font-size: 1.4 em;
		vertical-align: middle
		text-align: center;
        position: absolute;
        top: 972 px;
        left: 399 px;
		margin-right: 50%;
        transform: translate(-50%, -50%)
	}

h2#awayscore{
		font-size: 1.4 em;
		vertical-align: middle
		text-align: center;
        position: absolute;
        top: 972 px;
        left: 470 px;
		margin-right: 50%;
        transform: translate(-50%, -50%)

	}
h2#ht_ft{
		font-size: 1.4 em;
		float: left;
		position: absolute;
		top: 945 px;
		left: 652 px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
