.htftbug 
   h2#hometeam(v-html="visibleEntry.props.hometeam")
   h2#awayteam(v-html="visibleEntry.props.awayteam")
   h2#homescore(v-html="visibleEntry.props.homescore")
   h2#awayscore(v-html="visibleEntry.props.awayscore")
   h2#ht_ft(v-html="visibleEntry.props.ht_ft")

   